{% block title %}{% endblock %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% block stylesheet %}{% endblock %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    html,body{
        background-image: url('https://images.pexels.com/photos/889087/pexels-photo-889087.jpeg');
        background-size: cover;
        background-repeat: repeat;
        height: 100%;
        padding-top: 5rem;
    }
    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }
</style>

    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href={{ path('calendar_index') }}>Kalendarz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ path('todo_list') }}>Organizer<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/note">Notatki</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <h5 style="margin-right: 20px; color: #999999;">Witaj: {{ app.user.imie }}!</h5>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="/logout" class="btn btn-danger">Wyloguj</a>
                {% endif %}
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block flash_messages %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                {{ message | raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% endblock %}
    </body>


