{% extends 'default.html.twig' %}

{% block body %}
    <a class="btn btn-info" href="/todo">Wróc</a>
    <hr>
    <h2 class="page-header">{{ todo.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Kategoria:</strong> {{ todo.category }}</li>
        <li class="list-group-item"><strong>Priorytet:</strong> {{ todo.priority }}</li>
        <li class="list-group-item"><strong>Opis:</strong> <p>{{ todo.description }}</p></li>
        <li class="list-group-item"><strong>Data rozpoczecia:</strong> {{ todo.date|date('F j, Y, g:i a') }}</li>
        <li class="list-group-item"><strong>Data zakonczenia:</strong> {{ todo.dateEnd|date('F j, Y, g:i a') }}</li>

    </ul>
{% endblock %}

{% block stylesheets %}

{% endblock %}
