{% extends 'default.html.twig' %}

{% block body %}
    <h1>Notatki</h1>
    <a href="/note/create" class="btn btn-primary">Dodaj Notatke</a>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Data utworzenia</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.name }}</td>
                <td>{{ note.createDateNotes|date('F j, Y, g:i a') }}</td>
                <td>
                    <a href="/note/edit/{{ note.id }}" class="btn btn-info">Edytuj</a>
                    <a href="/note/view/{{ note.id }}" class="btn btn-primary">Wyświetl</a>
                    <a href="/note/delete/{{ note.id }}" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
